.topContainer {
  display: flex;
  justify-content: center;
  margin-bottom:30px;
}

.subcontainer {
  max-width: 600px !important;
  width: 500px;
  margin-top: 90px;
  margin-left: 0px;
  margin-right: 0px;
}

.registerForm {
  border: 3px solid #abc8bc;
}

.custom-heading {
  font-size: 28px;
  /* 标题字体大小 */
  font-weight: 600;
}

.custom-subheading {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.custom-subheading a{
  text-decoration: none;
}

.custom-subheading span {
  color: #eea68d;
}

.sendVerify {
	width:100px;
  font-size: 14px;
  top: 0;
  bottom: 0;
  right: 0px;
  margin: auto;
	border:none;
  background-color: #00917c;
  color: white;
  border-radius: 0.25rem;
}

.verifyPassword {
	width:100px;
  font-size: 14px;
  top: 0;
  bottom: 0;
  right: 0px;
  margin: auto;
	border:none;
  background-color: #00917c;
  color: white;
  border-radius: 0.25rem;
}

/* 自定义输入框聚焦样式 */
.form-control-1:focus {
	border:none;
  border-color: 1px #eea68d !important;
  /* 移除默认的聚焦样式 */
  box-shadow: 0 0 0 0.1rem #00917c !important;
  /* 自定义聚焦时的边阴影，这里使用淡橘色 */
}

.form-control-1 {
  border: 1px solid rgb(157, 145, 145);
  background-color: rgba(var(--bs-bgColor-rgb), var(--bs-bg-opacity));
  /* background-color: #f8f9fa; */
  /* 设置输入框背景颜色为浅灰色 */
}

.submitResetPassword {
  text-align: center;
  background-color: rgba(var(--bs-bgColor-rgb), var(--bs-bg-opacity));
  color: black;
  border-color: rgb(157, 145, 145);
  margin-top: 30px;
}


.custom-btn {
  height: 38px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(197, 231, 118, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: transform 0.3s ease;
}

.custom-btn-1 {
  width: 100%;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: transform 0.3s ease;
}

.btn-7 {
  background: #00917c;
  line-height: 42px;
  padding: 0;
  border: none;
  overflow: hidden;
}
.btn-7 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-7:before,
.btn-7:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #00917c;
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.btn-7:before {
  height: 0%;
  width: 2px;
}
.btn-7:after {
  width: 0%;
  height: 2px;
}
.btn-7:hover {
  color: #00917c;
  background: transparent;
  font-weight: bold;
  /* transform: scale(1.1); */
}
.btn-7:hover:before {
  height: 100%;
}
.btn-7:hover:after {
  width: 100%;
}
.btn-7 span:before,
.btn-7 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #00917c ;
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.btn-7 span:before {
  width: 2px;
  height: 0%;
}
.btn-7 span:after {
  height: 2px;
  width: 0%;
}
.btn-7 span:hover:before {
  height: 100%;
}
.btn-7 span:hover:after {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .subcontainer {
    max-width: 700px !important;
  }
}
