.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  margin: 100px 0;
}

/* 正常 */
.btn-7 {
  background: #00917c;
  line-height: 42px;
  padding: 0;
  border: none;
  overflow: hidden;
}
.btn-7 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-7:before,
.btn-7:after {
  position: absolute;
  content: '';
  right: 0;
  bottom: 0;
  background: #00917c;
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.btn-7:before {
  height: 0%;
  width: 2px;
}
.btn-7:after {
  width: 0%;
  height: 2px;
}
.btn-7:hover {
  color: #00917c;
  background: transparent;
  font-weight: bold;
}
.btn-7:hover:before {
  height: 100%;
}
.btn-7:hover:after {
  width: 100%;
}
.btn-7 span:before,
.btn-7 span:after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  background: #00917c;
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.btn-7 span:before {
  width: 2px;
  height: 0%;
}
.btn-7 span:after {
  height: 2px;
  width: 0%;
}
.btn-7 span:hover:before {
  height: 100%;
}
.btn-7 span:hover:after {
  width: 100%;
}

/* 放大 */
.btn-9 {
  background: #00917c;
  line-height: 42px;
  padding: 0;
  border: none;
  overflow: hidden;
}
.btn-9 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-9:before,
.btn-9:after {
  position: absolute;
  content: '';
  right: 0;
  bottom: 0;
  background: #00917c;
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.btn-9:before {
  height: 0%;
  width: 2px;
}
.btn-9:after {
  width: 0%;
  height: 2px;
}
.btn-9:hover {
  color: #00917c;
  background: transparent;
  font-weight: bold;
  transform: scale(1.1);
}
.btn-9:hover:before {
  height: 100%;
}
.btn-9:hover:after {
  width: 100%;
}
.btn-9 span:before,
.btn-9 span:after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  background: #00917c;
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.btn-9 span:before {
  width: 2px;
  height: 0%;
}
.btn-9 span:after {
  height: 2px;
  width: 0%;
}
.btn-9 span:hover:before {
  height: 100%;
}
.btn-9 span:hover:after {
  width: 100%;
}

/* 閃亮 */
.btn-11 {
  overflow: hidden;
  /* 添加右邊框線 */
  border-right: 2px solid transparent;
}
.btn-11:before {
  position: absolute;
  content: '';
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 3s ease-in-out infinite;
}
/* 添加按鈕懸停時的邊框顏色 */
.btn-11:hover {
  border-right-color: #00917c;
}
.custom-btn.btn-11:hover:before {
  /* 滑鼠懸停時的邊框閃爍效果 */
  animation: none; /* 禁用動畫 */
}
@keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  61% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}
