// 檔案位置: styles/global.scss
// 變數覆蓋用 (Variable overrides)
// 全站配色 colors
$primary: #0d6efd ;
$secondary: #6c757d;
$success:  #198754;
$danger: #ff4136;
$info:  #0dcaf0 ;
$warning: #ffc107;
$light:  #f8f9fa ;
$dark:   #212529 ;
// dd顏色
$bgColor:#ffffff;
$price: #E16949;
$headerColor:#FFFFFF;
$ddprimary:#ABC8BC;
$ddsecondary:#AABEC3;
$ddprimary-light:#ecdcc249;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "bgColor": $bgColor,
  "price": $price,
  "headerColor": $headerColor,
  "ddprimary": $ddprimary,
  "ddsecondary": $ddsecondary,
  "ddprimary-light": $ddprimary-light
);

$table-variants: (
  "ddprimary": $ddprimary,
);

$input-group-addon-border-color: $price;

// 按鈕圓角邊 button radius
$border-radius: 0.2em;
$border-radius-sm: 0.2em;
$border-radius-lg: 0.2em;

// 固定card高度
// https://getbootstrap.com/docs/5.3/components/card/#grid-cards
$card-height: 100%;


// Web fonts
@font-face {
  font-family: "IBM Plex Sans TC";
  src: url("/fonts/IBMPlexSansTC-Thin.woff2") format("woff2");
  font-display: swap;
  font-weight: 100;
}

@font-face {
  font-family: "IBM Plex Sans TC";
  src: url("/fonts/IBMPlexSansTC-ExtraLight.woff2") format("woff2");
  font-display: swap;
  font-weight: 200;
}

@font-face {
  font-family: "IBM Plex Sans TC";
  src: url("/fonts/IBMPlexSansTC-Light.woff2") format("woff2");
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: "IBM Plex Sans TC";
  src: url("/fonts/IBMPlexSansTC-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "IBM Plex Sans TC";
  src: url("/fonts/IBMPlexSansTC-Medium.woff2") format("woff2");
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "IBM Plex Sans TC";
  src: url("/fonts/IBMPlexSansTC-SemiBold.woff2") format("woff2");
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: "IBM Plex Sans TC";
  src: url("/fonts/IBMPlexSansTC-Bold.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
}

$font-family-sans-serif: "IBM Plex Sans TC", system-ui, -apple-system,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
// ↑↑↑  變數覆蓋(Variable overrides) 要寫在這行"上面"  ↑↑↑
// 這裡導入所有 bootstrap 樣式
// 最後營運階段(實務)可以用部份導入來進行最佳化
// 參考: https://getbootstrap.com/docs/5.3/customize/sass/#importing
@import '~bootstrap/scss/bootstrap';
// ↓↓↓  其它客製樣式要寫在這行的"下面" ↓↓↓


// bs5內建圖示字體
// 如果有使用其它圖示字體可以註解不使用
// @import '~bootstrap-icons/font/bootstrap-icons';

// google Noto Sans TC 字體
// @import 'https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap';







// fixed for __next root div
#__next {
  flex-direction: column;
  height: 100%;
  display: flex;
}

main > .container {
  padding: 60px 15px 0;
}

body {
  background-color: $bgColor;
  // font-family: 'Noto Sans TC Regular', Helvetica, Arial, 'PingFang TC',
  //   '苹方-繁', 'Heiti TC', '黑體-繁', 'Microsoft JhengHei', '微軟正黑體',
  //   // Cross-platform generic font family (default user interface font)
  //   system-ui,
  //   // Safari for macOS and iOS (San Francisco)
  //   -apple-system,
  //   // Windows
  //   'Segoe UI',
  //   // Android
  //   Roboto,
  //   // Basic web fallback
  //   'Helvetica Neue',
  //   Arial,
  //   // Linux
  //   'Noto Sans',
  //   'Liberation Sans',
  //   // Sans serif fallback
  //   sans-serif,
  //   // Emoji fonts
  //   'Apple Color Emoji',
  //   'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.form-member {
  max-width: 330px;
  padding: 1rem;
}
.My-section{
  margin-top: 70px;
}
// react-paginate样式
.pagination {
  justify-content: center; 
}

/* ant-radio-button.css */
.ant-radio-button-wrapper::before,
.ant-radio-button-wrapper::after {
  display: none !important;
  content: none !important;
}

//分頁css
/* 修改分頁的樣式 */
.pagination .page-item {
  /* 設定您想要的背景顏色 */
  background-color: #ffffff;
  border-color: #ffffff;
}

/* 修改分頁連結的樣式 */
.pagination .page-link {
  /* 設定您想要的文字顏色 */
  color: #5b5b5b;
  /* 設定您想要的邊框顏色 */
  border-color: #ffffff;
}

/* 修改當前選中分頁的樣式 */
.pagination .page-item.active .page-link {
  /* 設定您想要的背景顏色 */
  background-color: #ffffff;
  /* 設定您想要的文字顏色 */
  color: #000000;
  /* 設定您想要的邊框顏色 */
  border-color: #ffffff00;
}
.pagination{
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 25%);
}

