/* * {
  margin: 0;
  padding: 0;
} */
.product-top {
  height: 40px;
  padding: 0;
  margin: 0;
}
.top-link{
  width: 25%;
  height: auto;
}
  .search-group {
    width: 20%;
    height: 30px;
  }

  .product-topbtg {
    width: 50%;
    height: 100%;
    margin: 0;
  }
  .btn-type {
    margin: 0;
    padding: 0;
    height: 30px;
    width: 100px;
    line-height: 30px;
  }
  .productsSize{
    padding: 0;
    width: 260px;
    height: 357px;
  }
  
  .pageUlSize{
    margin: 0;
    /* width: 300px;
    height: 40px; */
  }
  .backtop{
    right: 50;
    bottom: 320;
  }
  @media (max-width: 768px) {
    .top-link{
      width: 49%;
      height: auto;
    }
    .search-group {
      width: 49%;
      height: 30px;
    }
    .product-topbtg {
      width: 50%;
      height: 100%;
      margin-top: 5px;
    }
    .product-topbtg {
      width: 100%;
      height: 100%;
    }
    .btn-type {
      width: 24%;
    }
    .backtop{
      right: 20;
    }
  }